/* Common shared styles */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* Nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #000;
}
.btn-secondary{
    border-radius: 5px;
    background-color:  #FFF8F3;
    border: 5;
    border-color: #FD6E0A;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* Header related styles */
.header{
    background-color: #FFF8F3;
    /*
    background-image: url('../images/pngtree-orange-and-white-abstract-swirler-background-png-image_11049152.png'), url('../images/3a3f5f34-fcc5-417d-8c5a-cab5b1c217ee.jpeg');
    background-position: bottom right, top left;
    */
    background-image: url('../images/pngtree-orange-and-white-abstract-swirler-background-png-image_11049152.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 900px;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px ;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: rgb(42, 38, 38);
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}


/* Main section Styles */
main{
    width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* Main section Styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}
.about-info-container{
    display: flex;
    justify-content: space-between
}
.about-info{
    text-align: center;
}
.info-title{
    color: #757575;
    margin-bottom: -10px;
}
#what-i-do-description{
    padding: 30px 150px;
}

/* Skills related styles */
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: white;
    border-radius: 5px;
    margin: 15px;
}
.skills-container{
    display: flex;
    gap: 24;
}
.skill-description{
    color: #757575;
}

/* Resume related styles */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 60px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-institute,
.resume-item-description{
    color: #757575;
}
.resume-container hr{
    margin: 30px;
}
.doenload-cv{
    text-align: center;
    margin-top: 50px;
}
 /* Footer related styles */
footer{
    display: flex;
    background: #FFF8F3;
    padding: 120px 180px;
    gap: 100px;
    margin-top: 100px;
}
.footer-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.footer-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.footer-column{
    width: 50%;
}
.social-links a{
    margin-right: 25px;
}
.contact input, 
textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border: none;
    border-radius: 5px;
    background: white;

}
.contact input[type="text"],
.contact input[type="email"],
textarea{
    width: 100%;
}